<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Twitter Practice App", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </button>
            <ul class="dropdown-menu">
              <% if !Current.user %>
                <li><%= link_to "Sign in", users_sign_in_path, class:"dropdown-item" %></li>
                <li><%= link_to "Sign up", users_sign_up_path, class:"dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Change password", "/users/#{Current.user.id}/password", class:"dropdown-item" %></li>
                <li><%= link_to "Sign out", users_sign_out_path, method: :delete, class:"dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        </li>
        <% if Current.user %>
          <li class="nav-item">
            <%= link_to "Twitter Accounts", twitter_accounts_path , class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tweets", tweets_path , class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>